pkgbase = trackhound-bin
	pkgdesc = Music downloader, library and player: albums, playlists and tracks by link or by name, with tags, covers and lyrics
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/mojave333/trackhound
	arch = x86_64
	license = GPL-2.0-or-later
	depends = alsa-lib
	depends = libglvnd
	depends = libxcomposite
	depends = libxdamage
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = nss
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	provides = trackhound
	conflicts = trackhound
	options = !strip
	options = !debug
	source = Trackhound-v2.0.0-linux-x64.tar.xz::https://github.com/mojave333/trackhound/releases/download/v2.0.0/Trackhound-v2.0.0-linux-x64.tar.xz
	source = trackhound.png::https://raw.githubusercontent.com/mojave333/trackhound/v2.0.0/docs/logo.png
	sha256sums = 51cc48434efa4c69ac3d49d24830aa513b7d7b613b5779f9b7071f05f9216948
	sha256sums = 2bebe0ae274a0841e879f234699cbdc86f2f44edef51c163c7b44dfe19c8060d

pkgname = trackhound-bin
